.mainBody {
    display: flex;
    flex-direction: column;
    padding: 32px 100px;
    text-align: start;
    max-width: 80%;
    h1 {
        font-weight: 400;

    }
    h1:first-of-type {
        color: #e18923;
    }
    h2 {
        font-weight: 300;
        margin: 0;
    }
}

.headerContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;

    form {
        align-self: center;
    }
}